<?xml version="1.0"?>
<model>
  <name>My Robot</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Francesco Fantauzzi   </name>
    <email>Francesco_Fantauzzi@yahoo.com</email>
  </author>

  <description>
    A basic differential drive mobile robot.
  </description>
</model>
